/data/dx_result/
/data/dx_xls/
/data/zhidao/
/models/distill.dat
/models/dx_result_all1_cut_6_distill.dat
/models/sgns.financial.word.bz2
/figures/bar_chart_v1.html
/figures/distance_v1.html
/figures/first_new_topic_probs_v1.html
